/* MENU ===== */
.menu__img{
   height: 100px;
}



/* INTRO ===== */
.intro__image{
   display: none;
}
@media(min-width: 768px){
   .intro{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
   }
   .intro h2{
      font-family: 'Titulo';
      font-size: 2rem;
   }
   .intro__image{
      display: block;
   }
}
