/* HEADER ===== */
.header{
   padding: 5px 0;
   background-color: var(--first-color);
}
.menu__img{
   height: 70px;
}



/* HOME ===== */
.home__order{
   padding: 20px 0;
}
.home__order-txt{
   text-align: center;
}
@media(min-width: 768px){
   .home__order{
      display: grid;
      grid-template-columns: 1fr 30%;
      align-items: center;
   }
}



/* INTRO ===== */
.intro__text{
   text-align: center;
}

@media(min-width: 768px){
   .intro{
      display: grid;
      grid-template-columns: 1fr 35%;
      align-items: center;
   }
   .intro__text{
      padding: 50px;
   }
   .intro__image{
      display: block;
   }
   .intro__image img{
      border-radius: 15px;
   }
}



/* MAIN ===== */
.main__lists{
   text-align: center;
}
.main__lists-tamales{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
   margin: 20px 0;
}
.tamal{
   display: grid;
   grid-template-columns: 70% 30%;
   border: 1px solid var(--first-color-modal);
   border-radius: 10px;
   overflow: hidden;
}
.tamal__txt{
   display: grid;
   align-items: center;
   text-align: center;
   padding: 10px;
}




/* FOOTER ===== */
.footer{
   background-color: var(--first-color);
   color: var(--background-main-color);
}