/* HEADER ===== */
.header{
   position: sticky;
   top: 0;
   left: 0;
   padding: 5px 0;
   background-color: var(--first-color);
   box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.6);
}
.menu__img{
   height: 70px;
}



/* HOME ===== */
.home__order{
   padding: 20px 0;
}
.home__order-txt{
   text-align: center;
}
@media(min-width: 768px){
   .home__order{
      display: grid;
      grid-template-columns: 1fr 30%;
      align-items: center;
   }
}



/* INTRO ===== */
.intro__text{
   text-align: center;
}
.intro__image img{
   border-radius: 15px;
   margin-top: 20px;
   box-shadow: 0px 20px 20px -15px rgba(0,0,0,0.6);
}

@media(min-width: 768px){
   .intro{
      display: grid;
      grid-template-columns: 1fr 35%;
      align-items: center;
   }
   .intro__text{
      padding: 50px;
   }
   .intro__image img{
      margin-top: 0;
   }
}



/* MAIN ===== */
.main{
   margin: 50px 0;
}
.main__lists{
   text-align: center;
}
.main__lists-tamales{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
   gap: 15px;
   margin: 10px 0 50px 0;
}
.tamal{
   display: grid;
   grid-template-columns: 1fr 25%;
   align-items: center;
   border: 2px solid var(--first-color-modal);
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0px 20px 20px -15px rgba(0,0,0,0.6);
}
.tamal__txt{
   padding: 10px;
   text-align: left;
}
.tamal__txt h2,
.main__lists-li h2{
   width: fit-content;
   color: var(--background-main-color);
   background-color: var(--first-color);
   padding: 0 10px;
   border-radius: 5px;
}
.tamal__txt p span,
.main__lists-li p span{
   color: var(--first-color);
   font-weight: 700;
}
.main__lists-ul{
   border: 2px solid var(--first-color-modal);
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0px 20px 20px -15px rgba(0,0,0,0.6);
}
.main__lists-li{
   text-align: left;
   padding: 10px;
   border-bottom: 1px solid var(--first-color-modal);
}
.main__lists-li:nth-of-type(6){
   border-bottom: none;
}
.main__video{
   padding-top: 50px;
}
.main__video iframe{
   height: 320px;
}
@media(min-width: 768px){
   .main__video iframe{
      width: 70%;
      margin: 0 auto;
   }
}


/* FOOTER ===== */
.footer{
   text-align: center;
   padding: 50px 0;
   background-color: var(--first-color);
   color: var(--background-main-color);
}
.footer .btn{
   color: var(--first-color);
   background-color: var(--background-main-color);
}